*.DS_Store
*.class
*.log
.idea
target
project/target
.bloop
.metals
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*.pyc
.coverage
.idea
.pytest_cache
.venv*
coverage.xml
k8s-deploy.yaml
__pycache__/
.bsp